@model List<HistorialClinico.Web.Models.Paciente.ApRespiratorioFormModel>

@Html.Partial("~/Views/Evolucion/_modalApRespiratorio.cshtml")

<div class="tabs-left">
    <ul class="nav nav-tabs tabs-left">
        <li>
            <a href="javascript:void('0')" onclick="NuevoApRespiratorio(0); return false;">
                <i class="glyphicon glyphicon-plus-sign"></i> Agregar
            </a>
        </li>
        @{
            var active = "active";
            foreach (var item in Model)
            {
                <li class="@active">
                    <a href="#tab-ap-resp-@item.Id" title="@item.UserName" data-toggle="tab"><i class="glyphicon glyphicon-minus"></i> <span class="hidden-mobile">@item.DateAdd.ToString("dd/MM/yyyy HH:mm")</span></a>
                </li>
                active = "";
            }
        }
    </ul>
    <div class="tab-content">
        @{
            active = "active";
            foreach (var item in Model)
            {
                <div class="tab-pane @active" id="tab-ap-resp-@item.Id" style="overflow: hidden">

                    <div class="row">
                        <div class="col-sm-6">
                            <fieldset>
                                <legend>Soporte Respiratorio</legend>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <span>@item.SoporteRespiratorio</span>
                                            @if (!item.Parametros)
                                            {
                                                <span>: @item.ValorSoporteResp</span>
                                            }



                                        </div>
                                    </div>
                                </div>
                                @if (item.Parametros)
                                {
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-condensed table-bordered table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Nombre</th>
                                                        <th class="text-center">Valor</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Ventilación</td>
                                                        <td class="col-md-2"><span>@item.Ventilacion</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Modalidad</td>
                                                        <td class="col-md-2"><span>@item.Modalidad</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                            </fieldset>

                            @if (item.Parametros)
                            {
                                <fieldset>
                                    <legend>Parámetros</legend>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-condensed table-bordered table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Nombre</th>
                                                        <th class="text-center">Valor</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var param in item.SoporteRespiratorioParam)
                                                    {
                                                        <tr>
                                                            <td>@param.Nombre</td>
                                                            <td class="col-md-2"><span>@string.Format("{0}", !param.Valor.HasValue ? "" : param.Valor.Value.ToString("N2"))</span></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </fieldset>
                            }
                            <fieldset>
                                <legend>Gasometría</legend>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <span>@item.Gasometria</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-condensed table-bordered table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Nombre</th>
                                                    <th class="text-center">Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var param in item.GasometriaParam)
                                                {
                                                    <tr>
                                                        <td>@param.Nombre</td>
                                                        <td class="col-md-2"><span>@string.Format("{0}", !param.Valor.HasValue ? "" : param.Valor.Value.ToString("N2"))</span></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Manejo</legend>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <span>@item.Manejo</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Eventos</legend>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <span>@item.Eventos</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Planes</legend>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <span>@item.Planes</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                active = "";
            }
        }
    </div>
</div>